*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
 --primaryFont:Inter;
}
body{
      font-family: var(--primaryFont);

}
h3
{
      font-family: "EB Garamond", serif;
}
.container
{
    width:100% ;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    gap: 232px;
    padding:0px 160px;
}
.header .menu
{
    display: none;
}
.header .header_image 
{
    padding: 21.8px 0px;
    
}


.header .navigation{
    padding: 36px 0px;
}
.header .navigation ul
{
display: flex;
gap: 60px;
}
.header .navigation ul li{
    list-style: none;
}

.header .navigation ul li a
{
    text-decoration: none;
    color: black;
}

.header .icons ul
{
    
display: flex;
padding: 31px 0px;
gap: 27px;
}
.header .icons ul li
{
    list-style: none;
}

.collection ul
{
    background-color: green;
    display: flex;
    justify-content: center;
    gap: 30px;
        padding:0px 160px;
        width: 100%;
}
.collection ul li{
    width: 100%;
    padding-top:80px ;
    list-style-type: none;
    text-align: center; 
    
}
/*
.collection ul li img{
     // width: 100%;
}
*/
@media screen and (min-width:0) and (max-width:996px)
{
 .header
{
    background-color: blue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 350px;
    padding: 0px;
}
.header .menu
{
    display: block;
    width: 30px;
}
.header .header_image img
{
   width: 70%;
}

.header .navigation 
{
display: none;
}
.header .icons 
{       
padding: 13px 0px;
gap: 5px;
display: none;
}     
.collection ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
    justify-content: space-between;
}

.collection ul li{
width: calc((100% - 20px ) / 3);
}

.collection ul li img{
    width: 100%;
}

}
@media screen and (min-width:0) and (max-width:450px)
{
   .header
   {
    gap: 100px;
   } 
   .collection ul 
   {
  gap: 10px;
   }
   .collection ul li
{
    width: calc((100% - 10px) / 2);
}
}

.best_sellers .item
{
    text-align: left;
    background-color: blueviolet;
   width: calc();
}

.best_sellers {
    text-align: center;
    background-color: red;
}
.best_sellers h2{
    font-family: Garamond;
    font-size: 30px;
    font-weight: 700;
}
.best_sellers h3{
    font-size :18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 12px;
}
.best_sellers .item_content
{
    margin-top: 24px;
}
.best_sellers .price
{
  font-size :14px;
  font-weight: 600;
}
.best_sellers .descreption{
color: #807F86;
width: 84%;
line-height: 22px;
margin-top: 24px;
margin-bottom: 34px;
}
.best_sellers .add_to_card
{
    padding: 15px 81px;
    background-color: white;
    border: 1px solid;
    letter-spacing: 4px;
    font-size: 14px;
    width: 100%;
    font-weight: 600;
}

