* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryFont: Inter;
}

body {
    font-family: var(--primaryFont);

}

h3 {
    font-family: "EB Garamond", serif;
}

/*
.settings
{
    background-image: url('../assets/images/Image\ \(10\).png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -300px;
}
*/
.header {
    width: calc(100% - 20%);
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    position: relative;
}

.header .Header_Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .menu {
    display: none;
}

.header .header_image {
    padding: 21.8px 0px;
    flex-shrink: 0;

}

.header .navigation {
    padding: 36px 0px;
    flex-shrink: 0;
}

.header .navigation ul {
    display: flex;
    gap: 60px;
}

.header .navigation ul li {
    list-style: none;

}

.header .navigation ul li a {
    text-decoration: none;
    color: black;
}

.header .icons ul {

    display: flex;
    padding: 31px 0px;
    gap: 27px;
}

.header .icons ul li {
    list-style: none;
}

.BAT_TRANG_DINNER_SET_container {
    width: 100%;
    background-image: url(../assets/images/flat-lay-composition-different-sized-plates\ 1.svg);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.phone_screen_image {
    display: none;
}

.phone_screen_image img {
    width: 100%;
}

.BAT_TRANG_DINNER_SET_Details {
    background-color: #826F66;
    position: absolute;
    width: 26.25rem;
    height: 100%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .BAT_TRANG_DINNER_SET_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
        background-image: none;
        position: static;
        height: auto;
        gap: 0px;
    }

    .BAT_TRANG_DINNER_SET_Details {
        height: auto;
        position: static;
        width: 100%;
        left: 0;
        padding: 3rem 0;

    }

    .phone_screen_image {
        width: 100%;
        display: block;
    }

    .phone_screen_image img {
        object-fit: cover;
        object-position: center;
    }

}

.BAT_TRANG_DINNER_SET_Details img {
    width: 85px;
}

.BAT_TRANG_DINNER_main_topic {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BAT_TRANG_DINNER_main_topic h1 {
    font-family: "EB Garamond", serif;
    width: 80%;
    margin: auto;
    color: white;
    line-height: 40px;
}

.BAT_TRANG_DINNER_SET_Details button {
    padding: 10px 50px;
    color: #826F66;

}

.collection_container {
    width: calc(100% - 20%);
    margin: 0 auto;
    padding: 48px 0;
}

.collection_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

.collection_row li {
    width: calc((100% - 30px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection_row .collection_one {
    order: 1;
}

.collection {
    position: relative;
    overflow: hidden;

}

.collection_details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    inset: 0;
    transition: 0.5s;
    opacity: 0;
    gap: 10px;
}

.collection .collection_details:hover {
    background-color: rgba(203, 156, 76, 0.3);
    opacity: 1;
}

.collection_details a {
    text-decoration: none;
    color: black;
    font-family: var(--primaryFont);
}

.collection_details h2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.collection_row li img {
    width: 100%;
    /*filter: blur(10px);
    transition: filter .7s;*/
}

.Sales_container {
    width: 80%;
    padding: 45px 0px;
    margin: auto;
}

.Sales_container p {
    color: #595667;
}

.sales_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales_image,
.sales_details {
    width: 100%;

}

.sales_details {
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.sales_details h2 {
    font-family: "EB Garamond", serif;
    line-height: 32px;
    font-size: 28px;
    text-transform: uppercase;
    width: 70%;
}

.sales_details p {
    font-size: 16px;
    width: 60%;
}

.sales_details button {
    border: none;
    font-weight: bold;
    text-decoration: underline;
    background-color: ;
}

.sales_image img {
    width: 100%;
}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .sales_details {
        gap: 10px;

    }
}

@media screen and (max-width:1000px) {
    .sales_details {
        padding: 30px 0px;
    }

    .sales_row {
        flex-direction: column;
    }

    .sales_image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}

.best_sellers {

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin: 45px 0px;
    text-align: center;
}

.best_seller_container {
    width: calc(100% - 20%);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.best_sellers .item {
    text-align: left;
    width: calc((100% - 90px) / 4);
    padding: 0px;
}


.best_sellers h2 {
    font-family: Garamond;
    font-size: 30px;
    font-weight: 700;
}

.best_sellers .Seller_img {
    display: flex;
    justify-content: center;
    align-self: center;
}

.best_sellers .Seller_img img {
    width: 100%;
}

.best_sellers h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.best_sellers .item_content {
    margin-top: 24px;
}

.best_sellers .price {
    font-size: 14px;
    font-weight: 600;
}

.best_sellers .descreption {
    color: #807F86;
    width: 84%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.best_sellers .add_to_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 81px;
    background-color: white;
    border: 1px solid;
    letter-spacing: 2px;
    font-size: 14px;
    width: 100%;
    font-weight: 600;
    white-space: nowrap;
    align-items: center;
}

.best_sellers .item:hover .add_to_card {
    background-color: rgb(40, 155, 63);
    transition-duration: .8s;
}


.history_section_container {
    width: 80%;
    margin: auto;
    padding: 48px 0px;
}

.history_section_container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
}

.history_section_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.history_section_details {
    background-color: #F7F6F5;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.history_section_details h2 {
    font-family: "EB Garamond", serif;
    line-height: 32px;
    font-size: 28px;
    text-transform: uppercase;
    width: 80%;
}

.history_section_details p {
    font-size: 16px;
    width: 60%;
}

.history_section_details button {
    border: none;
    font-weight: bold;
    text-decoration: underline;
    background-color: ;
}

.history_section_image img {
    width: 100%;
}

@media screen and (max-width:800px) {
    .history_section_container {
        padding: 24px 0px;

    }

    .history_section_details {
        padding: 30px 0px;
    }

    .history_section_row {
        grid-template-columns: 100%;
    }

    .history_section_container img {
        height: 200px;
    }

    .history_section_row .item4 {
        grid-row: 3 / 4;
    }

    .history_section_image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}


.discover_new_arrivals {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.discover_new_arrivals p {
    color: #595667;
}

.discover_new_arrivals h2 {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 30px;
}

.discover_new_arrivals_container {
    width: calc(100% - 20%);
    display: flex;
    padding: 15px;
}

.discover_new_arrivals_row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;

}

.discover_new_arrivals_row .item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}

.discover_new_arrivals_row .item h3 {
    font-family: "EB Garamond", serif;
}

.discover_new_arrivals_row .item p {
    width: 90%;
}

.discover_new_arrivals_row .item img {
    width: 100%;
}

.discover_new_arrivals_row .item .add_to_card {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 1s, color 1.3s;
}

.discover_new_arrivals_row .item:hover .add_to_card {
    background-color: rgb(40, 155, 63);
    color: white;
}

@media screen and (min-width:0px) and (max-width:500px) {
    .best_sellers .item {
        width: 100%;
    }

    .collection_row li {
        width: 100%;
    }


}

@media screen and (min-width:501px) and (max-width:700px) {
    .best_sellers .item {
        width: calc((100% - 20px) / 2);
    }

    .row {
        gap: 10px;
    }

    .collection_row li {
        width: calc((100% - 10px) / 2);
    }

}



@media screen and (min-width:701px) and (max-width:1100px) {
    .collection_row li {
        width: calc((100% - 20px) / 3);
        padding: 10px;
    }

    .best_sellers .item {
        width: calc((100% - 30px) / 3);
    }

    .row {
        gap: 15px;
    }

}

@media screen and (min-width:0) and (max-width:996px) {
    .header .Header_Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu {
        display: block;
        width: 30px;
        order: 1;
    }

    .header .header_image img {
        width: 70%;
    }

    .header .navigation {
        display: none;
    }

    .header .icons {
        padding: 13px 0px;
        gap: 5px;
        display: none;
    }

}

.icons .shopping_icons a {
    position: relative;
}

.icons .shopping_icons a::after {
    content: '30';
    display: block;
    background-color: rgba(196, 133, 133, 0.5);
    position: absolute;
    width: 20px;
    height: 20px;
    top: -16px;
    right: -9px;
    border-radius: 50%;
}

.Our_blog_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 30px 0px;
    width: 80%;
    margin: auto;
}

.Our_blog_container p {
    color: #595667;
}

.our_blog_row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.our_blog_details {
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.our_blog_image,
.our_blog_details {
    width: 100%;
}

.our_blog_details h2 {
    font-family: "EB Garamond", serif;
    line-height: 32px;
    font-size: 28px;
    text-transform: uppercase;
    width: 65%;
}

.our_blog_details p {
    font-size: 16px;
    width: 60%;
}

.our_blog_details button {
    border: none;
    font-weight: bold;
    text-decoration: underline;
}

.our_blog_image img {
    width: 100%;
}

.Our_blog_container h2 {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 30px;
}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .our_blog_details {
        gap: 10px;

    }
}

@media screen and (max-width:1000px) {
    .our_blog_details {
        padding: 30px 0px;
    }

    .our_blog_row {
        flex-direction: column;
    }

    .our_blog_image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .Our_blog_container {
        gap: 30px;
    }
}

.sign_up_container {
    width: 50%;
    margin: auto;
    padding: 48px 0px;

}

.sign_up_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sign_up_row h2 {

    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.sign_up_row .email_field {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-bottom: solid black thin;
}

.sign_up_row .sign_up {
    color: #2d2d2e;
    font-weight: 700;
    outline: none;
}

.sign_up_row button {
    padding: 10px 30px;
    text-transform: uppercase;

}

.footer_container {
    width: 100%;
    margin: auto;
    background-color: #3A3845;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.footer_container hr{
     border: none;
    width: 2px;          /* السمك */
  height: 200px;       /* الطول */
  background-color: #ccc;
  margin: 0 20px;
}
.footer_left_side {
    width: 35%;
    padding: 48px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  
}

.footer_left_side p {
    color: #E5E5E5;
}

.footer_left_side button {
    padding: 10px 35px;
    font-family: var(--primaryFont);
    font-weight: 600;
    color: white;
    background-color: #3A3845;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer_right_side {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));

    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: #E5E5E5;
}
.footer_right_side .details_item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer_right_side .details_item h4
{
    margin-bottom: 10px;
    text-transform: uppercase;
}
@media screen and (max-width: 1000px) {

 .footer_container
 {
    flex-direction: column;
 }   
.footer_left_side
{
    width: 80%;
}
.footer_right_side
{
    padding: 20px 0px;
    width: 100%;
    gap: 15px;
}

.footer_right_side .details_item h4
{
    margin-bottom: 0px;
}
.footer_container hr
{
    width: 80%;
    margin: auto;
    height: 1px;
}
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
.footer_right_side
{
    padding: 20px 0px;
   gap: 15px;
}
.footer_right_side .details_item h4
{
    margin-bottom: 0px;
}
}